section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.projects>div>img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.projects>div>div{
    height: 50%;
    color: #292F38;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.projects>div>div>div{
    display: flex;
    justify-content: space-between;
}

.projects>div{
    border: 1px solid #292F38;
    border-radius: 1em 1em 0 0;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}