body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #00FF77 0%, #00981F 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    text-align: center;
}

.login-container{
    width:50%;
}

form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFDE 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 21px;
}

button{
    background: transparent linear-gradient(180deg, #00FF77 0%, #006314 100%, #006314 100%) 0% 0% no-repeat padding-box;
    border-radius: 23px;
    width: 50%;
    border: none;
    color: #292F38;
    margin: 1em;
    line-height: 2.5em;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}



@media only screen and (max-device-width: 420px){
    .container{
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo{
        width: 100%;
    }

    form{
        margin: auto;
    }

    img{
        height: 20em;
        margin: 0em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #00FF77 0%, #00981F 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 80vw;
}


nav>img {
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
}

li i {
    font-size: 1em;
}

a.button {
    border: 1px solid #292F38;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0px;
    color: #292F38;
    padding: 0.2em;
    width: 70%;
}



ul {
    list-style-type: none;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #292F38;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;
    color: #292F38;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa,
.fas{
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid #292F38;
}

.add-project {
    background: transparent linear-gradient(180deg, #00FF77 0%, #00981F 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #292F38;
    box-shadow: 0px 8px 6px #00000029;
    border-radius: 1.5em;
    color: #292F38;
    letter-spacing: 0.1em;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton{
    color: #292F38;
}



.search-bar {
    width: 70%;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}